<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

    <a href="localhost:8000/admin/" target="_blank">Admin</a>
    <a href="localhost:8000/saludo/" target="_blank">Saludo</a>
    <a href="localhost:8000/saludo2/" target="_blank">Saludo2</a>
    <a href="localhost:8000/nosvemos/" target="_blank">Despedida</a>
    <a href="localhost:8000/fecha/" target="_blank">Fecha y hora actual</a>
    <a href="localhost:8000/edades/35/2040/" target="_blank">Calcular edad</a>

</body>
</html>